* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    color: orange;
}

* a:visited {
    color: orange;
}

* a:hover {
    color: white;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
    margin: 0;
    color: white;
    font-size: 50px;
}

#scrollable {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 50px;
    flex-shrink: 0; /* Prevent it from shrinking */
}

#scrollable::-webkit-scrollbar {
    display: none;
}

#scrollable p {
    margin: 0;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-top: 10px;
}

#scrollable a {
    font-size: 20px;
}

#scrollable h2 {
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0;
}

#fixed {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0; /* Prevent it from shrinking */
}

#fixed nav {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
}

#fixed nav a {
    margin: 0 15px; /* Adjust the spacing between items */
    font-size: 30px;
}

#fixed img {
    display: block;
    max-height: 80%;
    max-width: 80%;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    bottom: 0;
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

/* Phone Layout (max-width: 600px) */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }

    #scrollable, #fixed {
        width: 100%;
        height: auto;
    }

    #fixed {
        margin-top: 20px;
    }

    #fixed img {
        max-height: 80%; /* Slightly larger image for tablets */
        max-width: 80%;
    }

    #scrollable {
        padding: 10px;
    }

    #fixed nav a {
        font-size: 18px; /* Adjust font size for mobile */
        margin: 0 8px; /* Reduce spacing for mobile */
    }

    
}

/* Tablet Layout (max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 601px) {
    body {
        flex-direction: column; /* Stack elements vertically for tablets */
    }

    #scrollable, #fixed {
        width: 100%; /* Take full width */
        height: auto; /* Adjust height based on content */
    }

    #fixed {
        margin-top: 20px; /* Adds spacing between sections */
    }

    #fixed img {
        max-height: 80%; /* Slightly larger image for tablets */
        max-width: 80%;
    }

    #scrollable {
        padding: 15px; /* Slightly more padding for tablets */
    }

    #fixed nav a {
        font-size: 24px; /* Adjust font size for tablets */
        margin: 0 10px; /* Reduce spacing for tablets */
    }
}
