* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-primary, var(--font-family-fallback));
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    font-size: var(--font-size-base);
    background-color: var(--bg-color);
}

h1 {
    margin: 0;
    color: var(--text-color);
    font-size: 3rem;
    align-self: center;
}

a {
    color: var(--primary-color);
    transition: color var(--transition-duration) var(--transition-ease);
}

a:visited {
    color: var(--primary-color);
}

a:hover {
    color: var(--hover-color);
}

header{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

header nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

header nav a {
    font-size: 1.5rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#contact-form{
    width: 80%;

    align-self: center;
    display: flex;
    flex-direction: column;
}

#contact-form > label{
    font-size: larger;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

#contact-form > input, textarea{
    font-size: var(--font-size-base);
    margin-bottom: 2rem;
    background-color: var(--bg-color);
    border:2px solid var(--text-color);;
    border-radius: 5px;
    padding: 5px;
    color: var(--text-color);
}

input:invalid{
    box-shadow: 0 0 5px 2px red;
}

input:focus:invalid {
    box-shadow: none;
  }

#contact-form > input:focus, textarea:focus{
    outline: none;
    border-color: var(--primary-color);
}
.required{
    color: var(--primary-color);
}

#submit-button{
    width: 250px;
    height: 50px;
    align-self: center;
    padding:10px;
    font-family: var(--font-family-primary), var(--font-family-fallback);
    font-size: larger;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: var(--transition-duration);
}
#submit-button:hover{
    background-color: var(--hover-color);
    color: invert(var(--text-color));
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) and (min-width: 601px) {
    header nav {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    header nav {
        flex-direction: column;
        font-size: 0.75rem;
        gap: 1rem;
    }

    main h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}