/* Flashing effect for error messages */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    animation: fadeOut 6s forwards;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

/* Style for remaining characters count */
#form-info {
    font-size: 12px;
    color: var(--text-color);
    margin-top: -20px;
}

/* Style for error output */
#form-error {
    font-size: 14px;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;;
}
