:root {
    /* --primary-color: color(display-p3 0.941176 0.513725 0.086275 / 1.000000); */
    /* --hover-color: color-mix(in srgb, #FFEB3B 95%, #FFC107 5%); */
    --primary-color: orange;
    --text-color: #fff;
    --hover-color: #fff;
    --bg-color: #000;
    --pre-background:#000;
    --font-family-primary: 'IBM Plex Mono', monospace;
    --font-family-fallback: 'Courier New', Courier, monospace;
    --font-size-base: 1rem;
    --transition-duration: 0.3s;
    --transition-ease: ease-in-out;
    --inverted-textcolor: color-mix(in srgb, #fff, calc(100% - var(--textcolor)));
}